.easy-table {
  width: 100%;
  font-size: 14px;
  padding: 24px;

  tr {
    border-bottom: 1px solid $table-border-color;
  }

  tr:hover {
    background-color: $table-header-background;
  }

  .easy-table-header {
    background-color: $table-header-background;

    .easy-table-sort {
      display: inline-block;
      position: absolute;
      right: 16px;

      .easy-table-sort-wrapper-up {
        width: 0;
        height: 0;
        border: 4px solid;
        border-color: transparent transparent $secondary transparent;
        cursor: pointer;
        margin-bottom: 4px;
      }

      .easy-table-sort-wrapper-down {
        width: 0;
        height: 0;
        border: 4px solid;
        border-color: $secondary transparent transparent transparent;
        cursor: pointer;
      }
    }
  }

  .easy-table-cell {
    padding: 16px;
  }

  .easy-table-cell-header {
    position: relative;
  }

  .easy-table-action-cell {
    width: 100px;
    text-align: center;
  }

  .easy-table-cell-header:not(:first-child)::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 1.6em;
    background-color: $table-header-split-color;
    transform: translateY(-50%);
    content: '';
  }
}
